.outer{
    height: fit-content;
    max-height: 65vh;
    overflow: auto;
    min-width: 25vw;
}

.container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between  ;
}

.cartContainer{
    border-bottom: 1px solid rgb(205, 205, 205);
    margin: 0;
    padding: .5rem 0;
}

.form{
    width: fit-content;
}

.counter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.button{
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    color: black;
}

.size{
    width: fit-content;
    min-width: 2rem;
    height: 2rem;
    transition: 0.25s;
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 0 10px 0 0;
}

.activeSize{
    color: white;
    background-color: black;
}

.color{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    border: none;
}

.activeColor{
    border: 2px solid green;
}

.right{
    display: flex;
    width: fit-content;
    margin-left: auto;
    position: relative;
}

.cartimg{
    height: 20vh;
    width: 10vw;
}

#buttons{
    display: flex;
    gap: 1rem;
    height: fit-content;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#buttons svg:hover{
    cursor: pointer;
}