.cart{
    margin-top: 8vh;
    padding: 0 5rem;
}

h1{
    margin: 1rem 0;
}

table{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

td h3{
    margin-left: 1rem;
}

.order{
    width: 20vw;
}