.categories{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 5%;
    max-height: 92vh;
    overflow: auto;
}

.categories *{
    color: black;
    text-decoration: none;
}

.categories h2{
    align-self: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gallery{
    width: 90vw;
    display: grid;
    gap: 3rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.wrapper{
    position: relative;
    width: fit-content;
    transition: 200ms;
}

.wrapper:hover{
    box-shadow: -1px 2px 26px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 26px -8px rgba(0,0,0,0.75);
}

.wrapper:hover .svg{
    cursor: pointer;
    display:flex;
    position: absolute;
    z-index: 9;
    bottom: 2rem;
    right: 2rem;
    width: fit-content;
    height: fit-content;
}

.link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.card{
    cursor: pointer;
    transition: 300ms;
    padding: 1rem;
}

.link p{
    position: absolute;
    color: rgb(141, 143, 154);  
}

.svg{
    display: none;
}

.link img{
    width: 25vw;
    height: 30vh;
    object-fit: contain;
}