.description{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 6rem;
    max-height: 85vh;
}

.side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 80vh;
    overflow: auto;
}

.sideimg{
    height: 90px;
    object-fit: fill;
}

.sideimg:hover{
    cursor: pointer;
}

.centerimg{
    max-height: 80vh;
    max-width: 60vw;
    object-fit: fill;
}