nav{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 99;
}

ul{
    display: flex;
    gap: 2.5rem;
    position: relative;
}

li{
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
}

.link:active{
    color: black;
}

.active::after{
    content: "";
    width: 6vw;
    height: 5px;
    background-color: #5ECE7B;
    position: absolute;
    bottom: -1.2rem;
    text-decoration: none;
}

#logo{
    width: 3rem;
    height: 3rem;
}

#cart{
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 2rem;
}

#cart:hover{
    cursor: pointer;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 8vh;
    position: relative;
}

.cart p{
    font-size: 1.2rem;
}

.cart p:hover{
    cursor: pointer;
}

.number{
    position: absolute;
    right: -13px;
    bottom: 1rem;
    background-color: black;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container{
    width: 100vw;
    position: absolute;
    left: 0;
    height: 92vh;
}

.currencies{
    height: fit-content;
    width: 8vw;
    position: absolute;
    right: 11%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: white;
    box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
}

.transform{
    transform: rotate(180deg);
}

.closed{
    display: none;
}

.currencies li{
    margin: 0;
    width: inherit;
    padding: 10px 0;
    transition: 300ms;
}

.currencies li p{
    padding-right: .5rem;
}

.currencies li:hover{
    background-color: rgb(139, 139, 139);
}

.selected{
    background-color: lightgray;
}